extends ../../../views/admin_layout 
block content 
    .col-md-12.col-12
        .box
            .box-header.with-border
                h4.box-title Update Email Template
            // /.box-header
            form#userUpdateForm.form(action='/email/update' method='POST')
                .box-body
                    .row
                        .col-md-12
                            .form-group
                                label.form-label Name
                                input.form-control(type='text' name='templateName' placeholder='Name' value=email.templateName)
                        .col-md-12
                            .form-group
                                label.form-label title
                                input.form-control(type='text' name='title' placeholder='title' value=email.title)
                        .col-md-12
                            .form-group
                                label.form-label subject
                                input.form-control(type='text' name='subject' placeholder='Subject' value=email.subject)
                        .col-md-12
                            .form-group
                                label.form-label Body
                                textarea.form-control(rows=10 cols=100 name="html" placeholder='Email Body')=email.html
                .box-footer.pull-right
                    a.btn.btn-warning.me-1(href='/email')
                        i.ti-trash
                        |  Cancel
                    button.btn.btn-primary(type='submit')
                        i.ti-save-alt
                        |  Update
        // /.box
