doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='/images/favicon.ico')
  // Vendors Style
  link(rel='stylesheet' href='/css/vendors_css.css')
  // Style
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/skin_color.css')
  link(href='http://www.jqueryscript.net/css/jquerysctipttop.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' type='text/css' href='/css/city-autocomplete.css')


body.hold-transition.light-skin.sidebar-mini.theme-primary.fixed
  div#loader
  include partial/header.pug
  include partial/aside.pug
  // Content Wrapper. Contains page content
  .content-wrapper
    .container-full
      // Main content
      section.content
        .row
          block content
  include partial/footer.pug

  // Vendor JS
  script(src='/js/vendors.min.js')
  script(src='/js/pages/chat-popup.js')
  script(src='/assets/icons/feather-icons/feather.min.js')
  script(src='/assets/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js')
  script(src='/assets/vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js')
  // Master Admin App
  script(src='/js/pages/dashboard3.js')
  script(src='/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js')
  script(src='/assets/vendor_components/sweetalert/sweetalert.min.js')
  script(src='/assets/vendor_components/jquery-steps-master/build/jquery.steps.js')

  script(src='http://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyD1vRsey4Fik_h72lT4IR368qakWznxXhU&callback=Function.prototype')
  script(src='/js/jquery.city-autocomplete.js' type='text/javascript')
  script(src='/js/pages/steps.js')
  script(src='/js/template.js')
  script(src='/js/pages/validation.js')
  script(src='/js/pages/form-validation.js')
  script(src='/assets/vendor_components/datatable/datatables.min.js')
  script(src='/js/pages/data-table.js')
    
