aside.main-sidebar
	// sidebar
	section.sidebar.position-relative
		.multinav
			.multinav-scroll(style='height: 100%;')
				// sidebar menu
				ul.sidebar-menu(data-widget='tree')
					li.treeview(style='padding-left: 0px; padding-right: 0px;') 	
						include profile.pug
					li
						a(href='/request')
							i(data-feather='monitor')
							span Dashboard
							span.pull-right-container
								i.fa.fa-angle-right.pull-right
					- if(typeof profile !== 'undefined'){
						- if(profile.role != 0){
							li
								a(href='/api/v1/requesttravel/list')
									i(data-feather='list')
									span Request List
									span.pull-right-container
										i.fa.fa-angle-right.pull-right
						- }
					- }
					li
						a(href='/user')
							i(data-feather='user')
							span Users
							span.pull-right-container
								i.fa.fa-angle-right.pull-right
					li
						a(href='/roles')
							i(data-feather='user')
							span Roles
							span.pull-right-container
								i.fa.fa-angle-right.pull-right
					.copyright.text-start.m-25
						p
							strong.d-block SSAI
							|  © 2023 All Rights Reserved
