extends ../../../views/admin_layout 
block content 
    .col-12
        .box
            .box-header.with-border
                h4.box-title Settings
                h6.box-subtitle
                | Select specific tab of settings 
            // /.box-header
            .box-body
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a.nav-link.active(data-bs-toggle='tab' href='#email' role='tab')
                            span.hidden-sm-up
                            i.ion-home
                            span.hidden-xs-down &nbsp; Email & Templates
                    //- li.nav-item
                    //-     a.nav-link(data-bs-toggle='tab' href='#profile' role='tab')
                    //-         span.hidden-sm-up
                    //-         i.ion-person
                    //-         span.hidden-xs-down &nbsp; Profile
                    //- li.nav-item
                    //-     a.nav-link(data-bs-toggle='tab' href='#messages' role='tab')
                    //-         span.hidden-sm-up
                    //-         i.ion-email
                    //-         span.hidden-xs-down &nbsp; Messages
                // Tab panes
                .tab-content.tabcontent-border
                    #email.tab-pane.active(role='tabpanel')
                        .p-15
                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mailer Settings
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .row
                                        form#userUpdateForm.form(action='/settings/mailer-update' method='POST')
                                            .row
                                                .col-12
                                                    .form-group
                                                        label.form-label SMTP URL
                                                        input.form-control(type='text' name='smtp' placeholder='SMTP URL')
                                                    .form-group
                                                        label.form-label SMTP PORT
                                                        input.form-control(type='text' name='smtpport' placeholder='SMTP port')
                                                .col-12
                                                    .form-group
                                                        label.form-label Email Id
                                                        input.form-control(type='text' name='emailId' placeholder='Email ID')
                                                    .form-group
                                                        label.form-label User Name
                                                        input.form-control(type='text' name='username' placeholder='User Name')
                                                    .form-group
                                                            label.form-label Password
                                                            input.form-control(type='password' name='password' placeholder='Password')
                                .box-footer.pull-right.pull-right(style="margin-top:23px")
                                    button.btn.btn-primary.me-2(type='submit')
                                        i.ti-save-alt
                                        |  Save
                                    a.btn.btn-warning(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                
                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mail template for new registration.
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .form-group
                                        input.form-control(name='title' placeholder='Mail Title:')
                                    .form-group
                                        input.form-control(name='subject' placeholder='Mail Subject:')
                                    .form-group
                                        textarea.compose-textarea.form-control(name='html' style='height: 300px')
                                            | <p>Your Message Here....</p>
                                .box-footer.pull-right
                                    a.btn.btn-warning.me-1(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                    button.btn.btn-primary(type='submit')
                                        i.ti-save-alt
                                        |  Save

                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mail template for login.
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .form-group
                                        input.form-control(name='title' placeholder='Mail Title:')
                                    .form-group
                                        input.form-control(name='subject' placeholder='Mail Subject:')
                                    .form-group
                                        textarea.compose-textarea.form-control(name='html' style='height: 300px')
                                            | <p>Your Message Here....</p>
                                .box-footer.pull-right
                                    a.btn.btn-warning.me-1(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                    button.btn.btn-primary(type='submit')
                                        i.ti-save-alt
                                        |  Save
                    
                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mail template for new request.
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .form-group
                                        input.form-control(name='title' placeholder='Mail Title:')
                                    .form-group
                                        input.form-control(name='subject' placeholder='Mail Subject:')
                                    .form-group
                                        textarea.compose-textarea.form-control(name='html' style='height: 300px')
                                            | <p>Your Message Here....</p>
                                .box-footer.pull-right
                                    a.btn.btn-warning.me-1(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                    button.btn.btn-primary(type='submit')
                                        i.ti-save-alt
                                        |  Save
                                    
                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mail template for approver request.
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .form-group
                                        input.form-control(name='title' placeholder='Mail Title:')
                                    .form-group
                                        input.form-control(name='subject' placeholder='Mail Subject:')
                                    .form-group
                                        textarea.compose-textarea.form-control(name='html' style='height: 300px')
                                            | <p>Your Message Here....</p>
                                .box-footer.pull-right
                                    a.btn.btn-warning.me-1(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                    button.btn.btn-primary(type='submit')
                                        i.ti-save-alt
                                        |  Save

                            .box
                                .box-header.with-border
                                    h4.box-title
                                        | Mail template for reject request.
                                    ul.box-controls.pull-right
                                        li
                                            a.box-btn-slide(href='#')
                                .box-body
                                    .form-group
                                        input.form-control(name='title' placeholder='Mail Title:')
                                    .form-group
                                        input.form-control(name='subject' placeholder='Mail Subject:')
                                    .form-group
                                        textarea.compose-textarea.form-control(name='html' style='height: 300px')
                                            | <p>Your Message Here....</p>
                                .box-footer.pull-right
                                    a.btn.btn-warning.me-1(href='/settings')
                                        i.ti-trash
                                        |  Cancel
                                    button.btn.btn-primary(type='submit')
                                        i.ti-save-alt
                                        |  Save

                            
                    //- #profile.tab-pane(role='tabpanel')
                    //-     .p-15
                    //-         h4
                    //-         | Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.
                    //-         h3 Donec vitae laoreet neque, id convallis ante.
                    //-         p
                    //-         | Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.
                    //- #messages.tab-pane(role='tabpanel')
                    //-     .p-15
                    //-         p
                    //-         | Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.
                    //-         h3 Donec vitae laoreet neque, id convallis ante.
                    //-         h4
                    //-         | Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.
                // /.box-body
                // /.box
