extends ../../../views/layout 
block content 
    .bg-white.rounded10.shadow-lg
        .content-top-agile.p-20.pb-0
            h2.text-primary Welcome to the SSAI Travel Portal
            p.mb-0 Login to continue.
        .p-40
            form(action='/api/v1/auth/login' method='post')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-user
                        input.form-control.ps-15.bg-transparent(type='text' name='email' placeholder='Username')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-lock
                        input.form-control.ps-15.bg-transparent(type='password' name='password' placeholder='Password')
                .row
                    .col-6
                        .checkbox
                            input#basic_checkbox_1(type='checkbox')
                            label(for='basic_checkbox_1') Remember Me
                    // /.col
                    .col-6
                        .fog-pwd.text-end
                            a.hover-warning(href='/reset')
                                i.ion.ion-locked
                                |  Forgot Password?
                            br
                    // /.col
                    .col-12.text-center
                        button.btn.btn-danger.mt-10(type='submit') LOGIN
                    // /.col
            .text-center
                p.mt-15.mb-0
                | Don't have an account? 
                a.text-warning.ms-5(href='registration') Create an Account
    //- .text-center
    //-     p.mt-20.text-white - Sign With -
    //-     p.gap-items-2.mb-20
    //-         a.btn.btn-social-icon.btn-round.btn-facebook(href='#')
    //-             i.fa.fa-facebook
    //-         a.btn.btn-social-icon.btn-round.btn-twitter(href='#')
    //-             i.fa.fa-twitter
    //-         a.btn.btn-social-icon.btn-round.btn-instagram(href='#')
    //-             i.fa.fa-instagram
