extends ../../../views/layout 

block content 
    .bg-white.rounded10.shadow-lg
        .content-top-agile.p-20.pb-0
            h2.text-primary Welcome to the SSAI Travel Portal 
            p.mb-0 Register a new account
        .p-40
            form(action='/api/v1/auth/register' method='post')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-user
                        input.form-control.ps-15.bg-transparent(type='text' name='fname' placeholder='First Name')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-user
                        input.form-control.ps-15.bg-transparent(type='text' name='lname' placeholder='Last Name')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-email
                        input.form-control.ps-15.bg-transparent(type='email' name='email' placeholder='Email')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-mobile
                        input.form-control.ps-15.bg-transparent(type='text' name='phone' placeholder='Phone Number')
                .form-group
                    .input-group.mb-3
                        span.input-group-text.bg-transparent
                            i.ti-id-badge
                        input.form-control.ps-15.bg-transparent(type='text' name='employer' placeholder='Employer Name e.g. SSAI, NASA, SAIC etc.')
                .row
                    .col-12
                        .checkbox
                            input#basic_checkbox_1(type='checkbox')
                            label(for='basic_checkbox_1')
                                | I agree to the 
                                a.text-warning(href='#')
                                    b Terms and conditions 
                    // /.col
                    .col-12.text-center
                        button.btn.btn-info.margin-top-10(type='submit') Register
                    // /.col
            .text-center
                p.mt-15.mb-0
                    | Already have an account?
                    a.text-danger.ms-5(href='login') Login
